#output.elasticsearch:
 # hosts: ["http://{{ el_instance_ip }}:9200"]
#setup.kibana:
 # host: "http://{{ kb_instance_ip }}:5601"
output.logstash:
  hosts: ["{{ el_instance_ip }}:5044"]
filebeat.config.modules.path: ${path.config}/modules.d/*.yml
